[HintsCustomField]
0exts=>Audio
0fields=Artist: [=wdxtaglibdebug.Artist]\nTitle: [=wdxtaglibdebug.Title]\nAlbum: [=wdxtaglibdebug.Album] 

[Configuration]
firstmnu=4091
test=122
Aligned extension=1
SeparateTree=0
PanelsVertical=0
UnicodeListWarn=0
LogOptions=7198
LogRotateLimit=0
LogKeepCount=30
ShowHiddenSystem=0
UseLongNames=1
Small83Names=0
OldStyleTree=0
autotreechange=0
DirBrackets=0
ShowParentDirInRoot=0
SortDirsByName=1
Tips=3
FileTipWindows=1
Win32TipWindows=1
SortUpper=3
DirTabOptions=824
DirTabLimit=32
ExplorerForCopy=0
Win95Delete=0
UseTrash=1
ThumbsLocation=%$LOCAL_APPDATA%\GHISLER
ThumbsCopyDel=1
ThumbsCustomFieldsEnabled=1
ThumbOptions=15
ThumbExplTypes=*.* | *.htm *.html
ThumbPlgTypes=*.*
ThumbIrfXnTypes=*.*
ThumbTxtTypes=*.txt *.ini
OleComments=3
[1280x1024 (8x16)]
maximized=0
x=61
y=205
dx=1130
dy=600
Divider=1000
DividerQuickView=500
DividerComments=500
Tabstops=233,237,295,185,646,93
CustColumnX=172
CustColumnY=203
CustColumnDX=965
CustColumnDY=745
CustColumnMax=0
SearchX=310
SearchY=275
SearchDX=711
SearchDY=281
SearchMax=0
CmdSelX=321
CmdSelY=326
CmdSelDX=637
CmdSelDY=371
CmdSelMax=0
MenuChangeX=160
MenuChangeY=139
MenuChangeDX=960
MenuChangeDY=745
MenuChangeMax=0
Iconsize32=16
[Tabstops]
0=233
1=237
3=295
4=185
6=646
5=93
AdjustWidth=1
[CustomFields]
Widths1=174,30,80,80,80,-26,-20,80,45,-29,-36,-26,-32,31,80
Headers1=Title\nArtist\nAlbum\nYear\nTracknumber\nComment\nGenre\nBitrate\nSample rate\nChannels\nLength\nLength (formatted)\nTag type
Contents1=[=wdxtaglibdebug.Title]\n[=wdxtaglibdebug.Artist]\n[=wdxtaglibdebug.Album]\n[=wdxtaglibdebug.Year]\n[=wdxtaglibdebug.Tracknumber]\n[=wdxtaglibdebug.Comment]\n[=wdxtaglibdebug.Genre]\n[=wdxtaglibdebug.Bitrate]\n[=wdxtaglibdebug.Sample rate]\n[=wdxtaglibdebug.Channels]\n[=wdxtaglibdebug.Length]\n[=wdxtaglibdebug.Length (formatted)]\n[=wdxtaglibdebug.Tag type]
Options1=1130|1
AutoLoad=0
Titles=WDXTagLibDebug
[attrplugin]
wdxtaglib=wdxtaglibdebug.Title := "" | wdxtaglibdebug.Artist := "" | wdxtaglibdebug.Album := "" | wdxtaglibdebug.Tracknumber := "" | wdxtaglibdebug.Year := "" | wdxtaglibdebug.Comment := "" | wdxtaglibdebug.Genre := ""
[user]
menu1=Unload plugin
cmd1=cm_UnloadPlugins
[Buttonbar]
Buttonheight=29
FlatIcons=1
SmallIcons=1
SmallIconSize=16
XPstyle=1
[ContentPlugins]
0=D:\eclipse\WDXTagLib\Debug\WDXTagLibDebug.wdx
0_detect="EXT="OGG" | EXT="FLAC" | EXT="OGA" | EXT="MP3" | EXT="MPC" | EXT="WV" | EXT="SPX" | EXT="TTA" | EXT="M4A" | EXT="M4B" | EXT="M4P" | EXT="3G2" | EXT="MP4" | EXT="WMA" | EXT="ASF" | EXT="AIF" | EXT="AIFF" | EXT="WAV""
0_date=997628311
0_flags=1
[searches]
Audio_SearchFor=*.ogg *.flac *.oga *.mp3 *.mpc *.wv *.spx *.tta *.m4a *.m4b *.m4p *.3g2 *.mp4 *.wma *.asf *.aif *.aiff *.wav
Audio_SearchIn=
Audio_SearchText=
Audio_SearchFlags=0|000002000020|||||||||0000|
[Layout]
ButtonBar=0
